<header>
  <div class="header-logo">
    <a href="/">キャッシュフローゲーム</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">キャッシュフローゲームとは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>キャッシュフローゲームとは</h2>
  <p>
    書籍『金持ち父さん貧乏父さん』の著者、
    ロバート・キヨサキが開発したゲームです。<br>
    お金の稼ぎ方をゲーム内で体感することができます。<br>
  </p>
  
  <form method="get" action="/main">
    <input id="submit_button" type="submit" name="submit" value="メイン画面へ移動する">
  </form>
  <br>
  <img src="/about_game.jpg">
</div>
