<header>
  <div class="header-logo">
    <a href="/">キャッシュフローゲーム</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">キャッシュフローゲームとは</a>
    </li>
  </ul>
</header>

<div class ="main">

  <table border="1px">
    <caption><h2>プレーヤー情報</h2></caption>
    <tr>
      <th>プレーヤー名</th>
      <th>職業</th>
      <th>監査役</th>
    </tr>
    <tr>
      <td>ムネ</td>
      <td>弁護士</td>
      <td>??さん</td>
    </tr>
  </table>
  <br>
  
  <table border="1px">
    <caption><nobr><h2>損益計算書＜収入＞</h2></nobr></caption>
    <tr>
      <th>給料</th>
      <td>7,500</td>
    </tr>
    <tr>
      <th>利息</th>
      <td></td>
    </tr>
    <tr>
      <th>配当</th>
      <td></td>
    </tr>
    <tr>
      <th>不動産</th>
      <td></td>
    </tr>
    <tr>
      <th>ビジネス</th>
      <td></td>
    </tr>
  </table>


</div>
