<header>
  <div class="header-logo">
    キャッシュフローゲーム
  </div>
  <ul class="header-menus">
    <li>キャッシュフローゲームとは</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>さあ、億万長者になろう！</h2>
    <p>キャッシュフローゲームでビジネスを学んでみよう</p>
  </div>
  <img src="/top.jpg">
</div>
